
    {{> header}}
<!-- BEGIN: Content -->
        <div class="content">
                <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">Update Profile</h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
        {{> admin_menu}}
        <!-- END: Profile Menu -->
        <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
            <!-- BEGIN: Change Password -->
            <div class="intro-y box lg:mt-5">
                <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base mr-auto">Change Password</h2>
                </div>
                <form id="change-password-form" action="/admin/change-password" method="POST">
                <div class="p-5">
                    <div>
                        <label for="old_password" class="form-label">Old Password</label>
                        <input id="old_password" type="password" class="form-control" name="old_password" placeholder="Please fill old password">
                    </div>
                    <div class="mt-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input id="new_password" type="password" class="form-control" name="new_password" placeholder="Please fill new password">
                    </div>
                    <div class="mt-3">
                        <label for="confirm_password" class="form-label">Confirm New Password</label>
                        <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="Please fill confirm new password">
                    </div>
                    <button id="submit-btn" type="submit" class="btn btn-primary mt-4">Submit</button>
                    <span id="password-error" style="color: red;"></span>

                </div>
                </form>
            </div>
            <!-- END: Change Password -->
        </div>
    </div>
        </div>
        <!-- END: Content -->
        <script>
            const password_form = document.getElementById("change-password-form");
            const old_password = document.getElementById("old_password");
            const new_password = document.getElementById("new_password");
            const confirm_password = document.getElementById("confirm_password");
            const password_error = document.getElementById("password-error");

            password_form.addEventListener("submit", function(event) {
                if (old_password.value === "" || new_password.value === "" || confirm_password.value === "") {
                    password_error.innerHTML = "Please fill in all fields";
                    event.preventDefault(); // prevent form submission
                } else if (new_password.value !== confirm_password.value) {
                    password_error.innerHTML = "New and confirm password do not match!";
                    event.preventDefault(); // prevent form submission
                } else {
                    password_error.innerHTML = "";
                    // form will be submitted as usual
                }
            });
        </script>
        {{> footer}}
      