        <!-- BEGIN: JS Assets-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/dist/js/app.js"></script>
        <!-- END: JS Assets-->
    </body>
</html>
