<!-- BEGIN: Side Menu -->
<nav class="side-nav">
  <ul>
    <li>
      <a href="/admin/dashboard" class="side-menu {{#ifUrlIncludes currentUrl "/admin/dashboard"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="home"></i>
        </div>
        <div class="side-menu__title"> Dashboard </div>
      </a>
    </li>
    {{!-- <li>
      <a href="/" class="side-menu">
        <div class="side-menu__icon">
          <i data-lucide="activity"></i>
        </div>
        <div class="side-menu__title"> Statictis </div>
      </a>
    </li> --}}
    <li class="side-nav__devider my-6"></li>
    <li>
      <a href="/admin/category/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/category"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="layers"></i>
        </div>
        <div class="side-menu__title"> Category </div>
      </a>
    </li>
    <li>
      <a href="/admin/service/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/service"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="package"></i>
        </div>
        <div class="side-menu__title"> Services </div>
      </a>
    </li>
    <li>
      <a href="/admin/vendor/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/vendor"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="user-plus"></i>
        </div>
        <div class="side-menu__title"> Vendors </div>
      </a>
    </li>
    <li>
      <a href="/admin/client/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/client"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="user-check"></i>
        </div>
        <div class="side-menu__title"> Clients </div>
      </a>
    </li>
    <li>
      <a href="/admin/booking/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/booking"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="shopping-cart"></i>
        </div>
        <div class="side-menu__title"> Booking </div>
      </a>
    </li>
    

    <li class="side-nav__devider my-6"></li>
    
    <li>
      <a href="/admin/admin/index" class="side-menu {{#ifUrlIncludes currentUrl "/admin/admin"}} side-menu--active {{/ifUrlIncludes}}">
        <div class="side-menu__icon">
          <i data-lucide="settings"></i>
        </div>
        <div class="side-menu__title"> Admins </div>
      </a>
    </li>

    <li class="side-nav__devider my-6"></li>

    <li>
      <a href="/admin/profile" class="side-menu {{#ifUrlIncludes currentUrl "/admin/profile"}} side-menu--active {{/ifUrlIncludes}}
                                                {{#ifUrlIncludes currentUrl "/admin/change-password"}} side-menu--active {{/ifUrlIncludes}}
      ">
        <div class="side-menu__icon">
          <i data-lucide="user"></i>
        </div>
        <div class="side-menu__title"> Profile </div>
      </a>
    </li>
    <li>
      <a href="/admin/login/logout" class="side-menu">
        <div class="side-menu__icon">
          <i data-lucide="toggle-right"></i>
        </div>
        <div class="side-menu__title"> Log out </div>
      </a>
    </li>
  </ul>
</nav>
<!-- END: Side Menu -->